{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% trans "Пользователи" %}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Имя пользователя" %}</th>
            <th>{% trans "Полное имя" %}</th>
            <th>{% trans "Дата создания" %}</th>
            <th>{% trans "Действия" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }} {{ u.last_name }}</td>
            <td>{{ u.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                {% if u.id == request.user.id %}
                    <a href="{% url 'update_user' u.id %}">Изменить</a>
                    <br>
                    <a href="{% url 'delete_user' u.id %}">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}